;; shadow-cljs.edn
{:deps true
 :builds
 {:alex
  {:target :node-script
   :main demo.matrix.app/main
   :compiler-options {:infer-externs true}
   :output-to "out/demo/matrix/app/alex-main.js"}
  :bob
  {:target :node-script
   :main demo.matrix.app/main
   :compiler-options {:infer-externs true}
   :output-to "out/demo/matrix/app/bob-main.js"}}}
